/* Змінні */
:root {
    --main-text: #434455;
    --header-text: #2E2F42;
    --acent-color: #4D5AE5;
    --contrast-color-of-text: #FFFFFF;
    --hover-focus-color: #404BBF;
    --overlays-shadows-headings: #2E2F42;
    --light-background: #F4F4FD;
    --sutle-backgrounds: #E7E9FC;

}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* header */
.header {
    background-color: #FFFFFF;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: var(--header-text);
}

.logo-acent {
    color: var(--acent-color);
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--header-text);
}

.header-link:hover,
.header-link:focus {
    color:  var(--hover-focus-color);
}

.contacts-email,
.contacts-phone {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--main-text);
}

.contacts-email:hover,
.contacts-email:focus,
.contacts-phone:hover,
.contacts-phone:focus {
color: var(--hover-focus-color);
}

/* hero */
.hero {
    background-color: var(--overlays-shadows-headings);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--contrast-color-of-text);
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;

    background-color: var(--acent-color);
    color: var(--contrast-color-of-text);

    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-focus-color);
}

/* values */
.values {

}

.values-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);
}

.values-list {

}

.values-item {

}

.values-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--header-text);
}

.values-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* services */
.services {

}

.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.services-list {

}

.services-item {

}

.services-img {

}

/* team */
.team {
background-color: var(--light-background);
}

.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.team-list {

}

.team-member {

}

.team-member-photo {

}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--header-text);

}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

}

/* footer */
.footer {
background-color: var(--overlays-shadows-headings);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;

    color: #E7E9FC;
}

/* portfolio */

/* works-buttons (filters) */
.works {

}

.works-title {

}

.works-list {

}

.works-item {

}

.works-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--acent-color);
    background-color: var(--sutle-backgrounds);
}

.works-btn:hover,
.works-btn:focus {
    color: var(--contrast-color-of-text);
    background-color: var(--hover-focus-color);
}

/* works-cards */
.works-cards

.card

.card-link {
    color: var(--header-text)
}

.card-img

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text);

}



















