/* Змінні */
:root {
    --main-text: #434455;
    --header-text: #2E2F42;
    --acent-color: #4D5AE5;
    --contrast-color-of-text: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* header */
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: var(--header-text);
}

.logo-acent {
    color: var(--acent-color);
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--header-text);
}

.contacts-email,
.contacts-phone {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--main-text)
}

/* hero */
.hero {
    background-color: grey;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--contrast-color-of-text);
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;

    background-color: var(--acent-color);
    color: var(--contrast-color-of-text);
}

/* values */
.values {

}

.values-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);
}

.values-list {

}

.values-item {

}

.values-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--header-text);


}

.values-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text);

}

/* services */
.services {

}

.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.services-list {

}

.services-item {

}

.services-img {

}

/* team */
.team {

}

.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--header-text);

}

.team-list {

}

.team-member {

}

.team-member-photo {

}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--header-text);

}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main-text);

}

/* footer */
.footer {

}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;

    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;

    color: #E7E9FC;
}

















